<footer id="footer" class="footer dark-background">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-about">
                <a href="{{ .Site.BaseURL }}" class="logo d-flex align-items-center">
                    <span class="sitename">{{ .Site.Title }}</span>
                </a>
                <p>{{ .Site.Params.footer.description }}</p>
                <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}">{{.Name}}</a></li>
                    {{ end }}
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    {{ range .Site.Data.services.product_services.categories }}
                    {{ $title := .title }}
                    {{ range .items }}
                    <li><a href="#">{{ .name }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>{{ .Site.Params.address.street }}</p>
                <p>{{ .Site.Params.address.city }}, {{ .Site.Params.address.state }} {{ .Site.Params.address.zip }}</p>
                <p>{{ .Site.Params.address.country }}</p>
                <p class="mt-4"><strong>Phone:</strong> <span>{{ .Site.Params.contact.phone }}</span></p>
                <p><strong>Email:</strong> <span>{{ .Site.Params.contact.email }}</span></p>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span> Copyright {{ now.Year }}</span> <strong class="px-1 sitename">{{ .Site.Title }}.</strong> <span>All
                Rights Reserved</span></p>
        <div class="credits">
            {{ with .Site.Params.footer.credits }}
            {{ . | safeHTML }}
            {{ else }}
            Designed by <a href="https://creativestudio14.com/">CreativeStudio14.com</a>
            {{ end }}
        </div>
    </div>

</footer>