<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{{ .Site.BaseURL }}" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">{{ .Site.Title }}</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ .Site.BaseURL }}" class="active">Home<br></a></li>
          <li><a href="{{ "about" | relURL }}">About</a></li>
          <li><a href="{{ "services" | relURL }}">Services</a></li>
          <li><a href="{{ "pricing" | relURL }}">Pricing</a></li>
          <li><a href="{{ "contact" | relURL }}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{{ "quote" | relURL }}">Get a Quote</a>

    </div>
  </header>