{{ define "main" }}
  <div class="page-title dark-background" data-aos="fade" style="background-image: url(img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  <section id="{{ .Params.id }}" class="{{ .Params.id }} section">

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-8 content order-last order-lg-first" data-aos="fade-up" data-aos-delay="100">
            <h3>{{ .Params.title }}</h3>
            <p>{{ .Content | safeHTML }}</p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->
  
{{ end }}