<div class="container">
    {{ range $.Site.Data.services.product_services.categories }}
    <h4>{{ .title }}</h4>
    <div class="row gy-4">
        {{ range $index, $element := .items }}
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="{{ mul $index 200 }}">
            <div class="card">
                <div class="card-img">
                    <img src="{{ .image }}" alt="" class="img-fluid">
                </div>
                <h3>{{ .name }}</h3>
                <p>{{ .description }}</p>
            </div>
        </div><!-- End Card Item -->
        {{ end }}
    </div>
    {{ end }}
</div>